.cardImg{
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.commentName{
  float: left;
  width: 95%;
}
.userImg{
  float: left;
  width: 5%;
}

.comments{
  padding: 30px;
}

.card-text{
  padding-left: 15px;
  padding-bottom: 15px;
}

.commentName h5{
 padding-left: 15px;
}

.commentInput{
  border: 1px solid #a8a8a8;
  padding: 10px;
}

label{
  background-color: #d8dbe5;
  width: 100%;
  margin: 0;
  padding: 10px;
}
